vim/plugged/*
vim/viminfo*
.DS_Store
zsh/.zhistory
zsh/.zsh_history
zsh/.zcompdump*
zsh/.zcompcache
karabiner/log
php/composer/*
!php/composer/composer.*
pgcli/history
pgcli/log
work-entrypoint.sh
work-entrypoint.post.sh
zsh/.zsh_sessions
bin/fleet
bin/idea
nvim/lua/dev/*
!nvim/lua/dev/openingh.nvim
!nvim/lua/dev/cmp-atuin
gh/hosts.yml
