[submodule "zprezto"]
	path = zsh/.zprezto
	url = ssh://git@github.com:bezhermoso/prezto.git
	branch = master
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/tinted-theming/base16-shell.git
[submodule "base16-fzf"]
	path = base16-fzf
	url = git@github.com:tinted-theming/base16-fzf.git
