[user]
  email = bezalelhermoso@gmail.com
  signingkey = 55BDEC097B885413
  name = Bez Hermoso

[core]
  editor = nvim

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

# neovim:
[merge]
  conflictstyle = diff3
  tool = vimdiff

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[alias]
  commits = commit -S
	amend = commit --amend
	amends = commit -S --amend

# vim:
#[merge]
#  tool = vimdiff
#  conflictstyle = diff3
#
#[mergetool]
#  prompt = false
