[submodule "zprezto"]
	path = zsh/.zprezto
	url = ssh://git@github.com:bezhermoso/prezto.git
	branch = master
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/tinted-theming/base16-shell.git
[submodule "base16-fzf"]
	path = base16-fzf
	url = git@github.com:tinted-theming/base16-fzf.git
[submodule "openingh"]
    path = .config/nvim/lua/dev/openingh.nvim
    url = git@github.com:bezhermoso/openingh.nvim.git
[submodule "base16-live-reload.nvim"]
	path = .config/nvim/lua/dev/base16-live-reload.nvim
	url = git@github.com:bezhermoso/base16-live-reload.nvim
	branch = main
[submodule "tpm"]
	path = .config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "todos-lualine.nvim"]
	path = .config/nvim/lua/dev/todos-lualine.nvim
	url = git@github.com:bezhermoso/todos-lualine.nvim
	branch = main
